In [1]:
x = 4;

In [2]:
x =c(1,5,6,4,3,2,6,7)

In [3]:
mean(x)

[1] 4.25

In [4]:
length(x)

[1] 8

In [8]:
myttest = t.test(x,mu=4)

In [9]:
#class
#mode
#names
#summary
names(myttest)

[1] "statistic"   "parameter"   "p.value"     "conf.int"    "estimate"
[6] "null.value"  "alternative" "method"      "data.name"

In [11]:
myttest$p.value

[1] 0.7486445

In [12]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [14]:
table(mtcars$am,mtcars$vs)

     0  1
  0 12  7
  1  6  7

In [15]:
chisq.test(mtcars$am,mtcars$vs)

	Pearson's Chi-squared test with Yates' continuity correction

data:  mtcars$am and mtcars$vs
X-squared = 0.34754, df = 1, p-value = 0.5555

In [16]:
library(broom)

ERROR: Error in library(broom): there is no package called 'broom'

In [18]:
install.packages("broom")

Installing package into '/home/nbcommon/R'
(as 'lib' is unspecified)

In [19]:
library(broom)

In [20]:
tidy(myttest)

  estimate statistic p.value   parameter conf.low conf.high
1 4.25     0.3333333 0.7486445 7         2.476532 6.023468

In [55]:
X1 <- 1:20

In [56]:
X2 <- sample(1:6,20,replace=TRUE)

In [57]:
X3 <-c("Kevin","Oscar","Loulou","Sean")

In [58]:
X4 <-rep(X3,c(3,7,4,6))

In [59]:
X4

 [1] "Kevin"  "Kevin"  "Kevin"  "Oscar"  "Oscar"  "Oscar"  "Oscar"  "Oscar"
 [9] "Oscar"  "Oscar"  "Loulou" "Loulou" "Loulou" "Loulou" "Sean"   "Sean"
[17] "Sean"   "Sean"   "Sean"   "Sean"

In [60]:
X5 <- round(rnorm(20,100,10),2)

In [61]:
X5

 [1] 110.87  83.16 112.41 105.47  96.00 118.11 115.09  86.73  86.73  89.23
[11] 100.57  91.10  83.75 112.96  80.76 105.32 103.56 113.53 103.95  94.60

In [62]:
X6 = X5 > 104

In [63]:
X6

 [1]  TRUE FALSE  TRUE  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE
[13] FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE

In [64]:
class(X6)

[1] "logical"

In [65]:
sum(X6)

[1] 8

In [69]:
myDF1 <- data.frame(ID = 101:120,X1,X2,X3)

In [73]:
myDF2 <- data.frame(ID = 104:123,X4,X5,X6)

In [80]:
library(dplyr)
left_join(myDF1,myDF2)

Joining, by = "ID"

   ID  X1 X2 X3     X4     X5     X6
1  101  1 2  Kevin  NA         NA    NA
2  102  2 6  Oscar  NA         NA    NA
3  103  3 4  Loulou NA         NA    NA
4  104  4 4  Sean   Kevin  110.87  TRUE
5  105  5 3  Kevin  Kevin   83.16 FALSE
6  106  6 6  Oscar  Kevin  112.41  TRUE
7  107  7 3  Loulou Oscar  105.47  TRUE
8  108  8 4  Sean   Oscar   96.00 FALSE
9  109  9 5  Kevin  Oscar  118.11  TRUE
10 110 10 6  Oscar  Oscar  115.09  TRUE
11 111 11 1  Loulou Oscar   86.73 FALSE
12 112 12 2  Sean   Oscar   86.73 FALSE
13 113 13 2  Kevin  Oscar   89.23 FALSE
14 114 14 6  Oscar  Loulou 100.57 FALSE
15 115 15 4  Loulou Loulou  91.10 FALSE
16 116 16 3  Sean   Loulou  83.75 FALSE
17 117 17 2  Kevin  Loulou 112.96  TRUE
18 118 18 1  Oscar  Sean    80.76 FALSE
19 119 19 3  Loulou Sean   105.32  TRUE
20 120 20 3  Sean   Sean   103.56 FALSE

In [84]:
anti_join(myDF2,myDF1)

Joining, by = "ID"

  ID  X4   X5     X6
1 123 Sean  94.60 FALSE
2 122 Sean 103.95 FALSE
3 121 Sean 113.53  TRUE

In [88]:
library(ggplot2)

In [126]:
p = ggplot(aes(x=am,y=mpg),data=mtcars)

In [127]:
p+geom_boxplot

ERROR: Error: Don't know how to add geom_boxplot to a plot